/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */


.wp-block-unparallel-iotcat-element-categorization {
	background-color: #F1F2F2;

}

.wp-block-unparallel-iotcat-element-categorization > p {

	padding:10px;
}
/*

.iotcat-usecase-card-add-box {
    display: flex;
    align-items: center;
}

.iotcat-usecase-card-flex-2 {
    flex: 2 0;
}

.iotcat-usecase-card-box-entries {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.iotcat-usecase-card-box-entry {
    flex: 1 0;
    border: 1px solid black;
    text-align: center;
    position:relative;
}



.iotcat-usecase-card-icon {
    position: absolute;
    right: -12px;
    top: -12px;
    color: #bd0000;
    background-color: white;
    z-index: 2000;
    border: 1px solid grey;
    border-radius: 100px;
    cursor: pointer;
    
}

.iotcat-usecase-card-icon:hover {
    background-color: #F1F2F2;

}
*/